<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h2 class="text-primary bg-warning text-center">Student Profile</h2>
       <!--
            <table class="table bg-secondary text-white">
                <tr>
                    <td>Student Name</td>
                    <td>{{m.stn}}</td>
                </tr>
                <tr>
                    <td>Roll No</td>
                    <td>{{m.rno}}</td>
                </tr>
                <tr>
                    <td>Father Name</td>
                    <td>{{m.fn}}</td>
                </tr>
                <tr>
                    <td>Mother Name</td>
                    <td>{{m.mn}}</td>
                </tr>
                <tr>
                    <td>User Name</td>
                    <td>{{m.user}}</td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td>{{m.pass}}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{m.em}}</td>
                </tr>
                <tr>
                    <td>Course</td>
                    <td>{{m.course}}</td>
                </tr>
                <tr>
                    <td>Branch</td>
                    <td>{{m.branch}}</td>
                </tr>
                <tr>
                    <td>State</td>
                    <td>{{m.state}}</td>
                </tr>
            </table>
        
        -->
        <table class="table table-responsive">
            <thead>
                <th>Student Name</th>
                <th>Roll No</th>
                <th>Father Name</th>
                <th>Mother Name</th>
                <th>User Name</th>
                <th>Password</th>
                <th>Email</th>
                <th>Course</th>
                <th>Branch</th>
                <th>State</th>
            </thead>
            <tr *ngFor="let obj of data">
                <td>{{obj.name}}</td>
                <td>{{obj.rno}}</td>
                <td>{{obj.fn}}</td>
                <td>{{obj.mn}}</td>
                <td>{{obj.user}}</td>
                <td>{{obj.pass}}</td>
                <td>{{obj.em}}</td>
                <td>{{obj.course}}</td>
                <td>{{obj.branch}}</td>
                <td>{{obj.state}}</td>
            </tr>
        </table>
    </div>

        <div class="col-sm-2"></div>
    </div>
    </div>
        
    