<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
        <div class=" text-center">
            <form #ref="ngForm" class="text-center" (ngSubmit)="profileData(ref.value)">
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label for="">Student Name</label>
                    </div>
                    <div class="col-sm-6"><input type="text" #ref1="ngModel" required name="name" id="" class="form-control"ngModel required>
                    <label *ngIf="ref1.invalid &&(ref1.dirty||ref1.touched)" class="text-danger"><p>*Studentname is required</p></label>
                        
                    </div>
                    
                </div>
                <div class="row">
                        <div class="col-sm-6 form-group">
                                <label for="">Roll Number</label>
                            </div>
                            <div class="col-sm-6"><input type="number"#ref2="ngModel" required name="rno" id=""  class="form-control" ngModel required>
                                <label *ngIf="ref2.invalid &&(ref2.dirty||ref2.touched)" class="text-danger"><p>*Rollnumber is required</p></label>
                             </div>
                </div>
                        <div class="row">
                        <div class="col-sm-6 form-group">
                                <label for="">Father Name</label>
                            </div>
                            <div class="col-sm-6"><input type="text" name="fn" id="" ngModel class="form-control"></div>
                        </div>
                        
                                <div class="row"> 
                                <div class="col-sm-6 form-group">
                                        <label for="">Mother Name</label>
                                    </div>
                                    <div class="col-sm-6"><input type="text" name="mn" id="" ngModel class="form-control"></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 form-group">
                                            <label for="">User Name</label>
                                        </div>
                                        <div class="col-sm-6"><input type="text"#ref3="ngModel" required name="user" id=""  class="form-control" ngModel required>
                                            <label *ngIf="ref3.invalid &&(ref3.dirty||ref3.touched)" class="text-danger"><p>*Username is required</p></label>
                                    </div>
                                </div>
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                                <label for="">Password</label>
                                            </div>
                                            <div class="col-sm-6"><input type="password" #ref4="ngModel" required name="pass" id=""  class="form-control" ngModel required>
                                            <label *ngIf="ref4.invalid &&(ref4.dirty||ref4.touched)" class="text-danger"><p>*Password atleast 5 charecters</p></label>
                                            </div>
                                        </div>
                                <div class="row">
                                 <div class="col-sm-6 form-group">
                                                <label for="">Email</label>
                                            </div>
                                            <div class="col-sm-6"><input type="text" name="gmail" id="" class="form-control"  ngModel></div>
                                        </div>
                                        <div class="row">
                                                <div class="col-sm-6 form-group">
                                                        <label for="">Course</label>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <select name="course" id=""  class="form-control" ngModel>
                                                            <option [value]=course *ngFor="let course of courses">{{course}}</option>
                                                        </select>
                                                    </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6 form-group">
                                                            <label for="">Branch</label>
                                                        </div>
                                                            <div class="col-sm-6">
                                                                <select name="branch" id="" class="form-control" ngModel>
                                                             <option [value]=branch *ngFor="let branch of branchs">{{branch}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                                <div class="col-sm-6 form-group">
                                                                        <label for="">State</label>
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <select name="state" id="" class="form-control" ngModel>
                                                                            <option [value]=state *ngFor="let state of states">{{state}}</option>
                                                                        </select>
                                                                    </div>
                                                                    </div>
                                                        <div class="text-center">
                                                            <button type="submit" class="btn btn-success">Send</button>
                                                        </div>
                                                    






                                                    


            </form>
            </div>
            <div class="col-md-2"></div>
        
    </div>
    </div>
</div>
<div *ngIf="b">
    <form #ref=ngForm (ngSubmit)="testing(ref.value)" class="bg-primary">
            <div class="row">
                    <div class="col-sm-6 form-group">
                        <label for="">Student Name</label>
                    </div>
                    <div class="col-sm-6"><input type="text" name="stn" [value]=objectToModify.stn  class="form-control"[(ngModel)]=objectToModify.stn></div>
                </div>
                <div class="row">
                        <div class="col-sm-6 form-group">
                                <label for="">Roll Number</label>
                            </div>
                            <div class="col-sm-6"><input type="number" name="rno" [value]=objectToModify.rno class="form-control"[(ngModel)]=objectToModify.rno></div>
                        </div>
                        <div class="row">
                        <div class="col-sm-6 form-group">
                                <label for="">Father Name</label>
                            </div>
                            <div class="col-sm-6"><input type="text" name="fn" [value]=objectToModify.fn class="form-control"[(ngModel)]=objectToModify.fn></div>
                        </div>
                        
                                <div class="row"> 
                                <div class="col-sm-6 form-group">
                                        <label for="">Mother Name</label>
                                    </div>
                                    <div class="col-sm-6"><input type="text" name="mn" [value]=objectToModify.mn class="form-control"[(ngModel)]=objectToModify.mn></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 form-group">
                                            <label for="">User Name</label>
                                        </div>
                                        <div class="col-sm-6"><input type="text" name="user" [value]=objectToModify.user class="form-control"[(ngModel)]=objectToModify.user></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                                <label for="">Password</label>
                                            </div>
                                            <div class="col-sm-6"><input type="password" name="pass" [value]=objectToModify.pass class="form-control"[(ngModel)]=objectToModify.pass></div>
                                        </div>
                                <div class="row">
                                        <div class="col-sm-6 form-group">
                                                <label for="">Email</label>
                                            </div>
                                            <div class="col-sm-6"><input type="text" name="em" [value]=objectToModify.em class="form-control"[(ngModel)]=objectToModify.em></div>
                                        </div>
                                        <div class="row">
                                                <div class="col-sm-6 form-group">
                                                        <label for="">Course</label>
                                                    </div>
                                                    <div class="col-sm-6">
                                                            <select name="course" id=""  class="form-control" ngModel>
                                                                    <option [value]=course *ngFor="let course of courses">{{course}}</option>
                                                                </select>
                                                    
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="row">
                                                        <div class="col-sm-6 form-group">
                                                            <label for="">Branch</label>
                                                        </div>
                                                            <div class="col-sm-6">
                                                                    <select name="branch" id="" class="form-control" ngModel>
                                                                            <option [value]=branch *ngFor="let branch of branchs">{{branch}}</option>
                                                                               </select>
                                                            
                                                              </div>
                                                            </div>
                                                        
                                                        <div class="row">
                                                                <div class="col-sm-6 form-group">
                                                                        <label for="">State</label>
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                            <select name="state" id=""  ngModel>
                                                                                    <option [value]=state *ngFor="let state of states">{{state}}</option>
                                                                                </select>
                                                                            
                                                                                </div>
                                                                                <button type="submit">Save</button>
                                                                           
                                                                    </div>
                                                                    
                                                                 
                                                                        
                                                                
                                                                    
       </form>
       </div>                       
    
        
       <table class="table table-responsive">
            <thead>
                <th>Student Name</th>
                <th>Roll No</th>
                <th>Father Name</th>
                <th>Mother Name</th>
                <th>User Name</th>
                <th>Password</th>
                <th>Email</th>
                <th>Course</th>
                <th>Branch</th>
                <th>State</th>
            </thead>
            <tr *ngFor="let obj of data">
                <td>{{obj.name}}</td>
                <td>{{obj.rno}}</td>
                <td>{{obj.fn}}</td>
                <td>{{obj.mn}}</td>
                <td>{{obj.user}}</td>
                <td>{{obj.pass}}</td>
                <td>{{obj.em}}</td>
                <td>{{obj.course}}</td>
                <td>{{obj.branch}}</td>
                <td>{{obj.state}}</td>
                <td>
                    <button (click)="deleteRecord(obj.rno)">Delete</button>
                </td>
                <td>
                    <button (click)="editingProfile(obj)">Edit</button>
                </td>
                
            </tr>
        </table>
        
        
        
    

    
    
       
