<div class="container-fluid">
        <div id="demo" class="carousel slide" data-ride="carousel">

                <!-- Indicators -->
                <ul class="carousel-indicators">
                  <li data-target="#demo" data-slide-to="0" class="active"></li>
                  <li data-target="#demo" data-slide-to="1"></li>
                  <li data-target="#demo" data-slide-to="2"></li>
                </ul>
              
                <!-- The slideshow -->
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="assets/34.jpeg" width="100%" height="400px">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/32.jpeg" width="100%" height="400px">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/33.jpeg" width="100%" height="400px">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/55.jpeg" width="100%" height="400px">
                  </div>
                </div>
              
                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                  <span class="carousel-control-next-icon"></span>
                </a>
              
              </div>
              <div style="background-color:hotpink ">
               <h3 class="text-center text-primary"><marquee direction="top">
               <p>Student management system (SMS) is software to manage all day to day operations for a school. They are also called student information systems (SIS), Student information management systems (SIMS), Student records system</p></marquee></h3> 
              </div>
</div>
<div class="container">
        <h1 class="text-center text-info">About Us</h1>
        <p>A student management system (also known as a student information system or SIS) helps a school manage data, communications, and scheduling.


                A school system generates and uses a large amount of data. This data must be communicated appropriately to students, faculty, and parents. A student management system helps schools to store, manage, and distribute this information.
                
                
                Some student management systems are designed to serve all of a school’s data management needs. Other student management systems are specialized. These specialized solutions target specific needs, such as school applications or student behavior tracking.</p>
  <h3 class="text-center">Why to choose Student Management System</h3>
  <div class="row">
      <div class="col-sm-6">
          <img src="assets/50.jpeg" height="500px" width="500px">
      </div>
      <div class="col-sm-6">
          <p>The advantages of Student Management System software cannot be explained but could be summarized. The world has seen a tremendous growth in technology in past few decades than in centuries; with necessity in clouding and data management, many organizations have opened their gates to simplify procedures by reducing human effort. With SMS software much of paper work could be circumvented. Mishandling of data is biggest concerns in many organizations hence; to bypass misuses Management System applications are designed under regulate guidelines and directives. Collaborative coordination between faculty and students could be attained and, announcements can be published with a single click in bulk via these simple programs. Few applications give parents access to candidate’s academic performances and behaviors. EduSys is reputed for facilitating numerous modules, from providing parents access to their wards profiles to tracking institutes-owned vehicles. SMS software makes library management flexible and orderly. To condense the merits of employing Student Management System software.</p>
<ul>
                <li>Eco-Friendly: paperwork can be avoided</li>
                <li> Efficient control over student data</li>
                <li>Monitor student performance</li>
                <li>Supervise multiple branches</li>
                <li>Cost-efficient and User-friendly</li>
                <li>Single solution for total College management</li>
               <li>Easy access to forums, attendance, timetable, marks, grades and examination schedule</li>
               <li> Prior intimation about College events and holidays via notification Elimination of people-dependent processes</li>
</ul>
            </div>
  
            </div>
            </div>


<div class="container">
    <div class="row bg-dark">
        <div class="col-sm-4">
            <h4 class="text-white bg-primary text-center">About Us</h4>
            <p class="text-white text-center"> A student management system helps schools to store, manage, and distribute this information. Some student management systems are designed to serve all of a school's data management needs. ... These specialized solutions target specific needs, such as school applications or student behavior tracking.</p>
         </div>
         <div class="col-sm-4">
                <h4 class="text-white bg-primary text-center">Contact Us</h4>
                

                        <p class="text-success text-center">Call 8978747700 </p><br/>
                       <p class="text-success text-center"> Call 8978767700 </p><br/>
                        <p class="text-success text-center">WhatsApp Us</p><br/>
                        <p class="text-success text-center">hr@secondcampus.in</p><br/>
                      
                  
             </div>
         
        <div class="col-sm-4">
                <h4 class="text-white bg-primary text-center">Quick Links</h4>
                <a href="home">HOME</a><br/>
            <a href="aboutus">About Us</a><br/>
            <a href="adminlogin">Admin Login</a><br/>
            <a href="login">Student Login</a><br/>
    

                                 </div>
                
        
    </div>



        


