<div class="container">
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4 bg-info">
        <form #ref="ngForm" (ngSubmit)="submitData(ref.value)">
          <div class="form-group">
            <label for="un">UserName</label>
            <input type="text" name="username" id="un" class="form-control" ngModel>
  
          </div>
          <div class="form-group">
            <label for="ps">Password</label>
            <input type="password" name="password" id="ps" class="form-control" ngModel>
  
          </div>
          <div class="text-center">
            <button class="btn btn-success" type="submit">Submit</button>
          </div>
  
        </form>
      </div>
    <div class="col-sm-4"></div>
</div>
  </div>
