

<table class="table">
    <thead>
        <th>Student No</th>
        <th>Student Name</th>
        <th>Course</th>
        <th>Branch</th>
      <th>Weekly Attendence</th>
      <th>Monthly Attendence</th>
    </thead>
    <tr *ngFor="let obj of t">
        <td>{{obj.no}}</td>
        <td>{{obj.name}}</td>
        <td>{{obj.course}}</td>
        <td>{{obj.branch}}</td>
        <td>{{obj.wattendence}}</td>
        <td>{{obj.attendence}}</td>
    </tr>
</table>