<div class="container mt-5">
        <h3 class="text-warning bg-primary text-center">Fees</h3>
        <form #ref="ngForm" (ngSubmit)="feesData(ref.value)" class="bg-info">
            <div class="form-group row">
                <div class="col-md-5">
                <label for="">Student RollNo</label>
            </div>
            <div class="col-md-4">
                <input type="number" #ref1="ngModel" required name="no" id="" class="form-control" ngModel required>
           <label *ngIf="ref1.invalid &&(ref1.dirty||ref1.touched)" class="text-danger"><p>*Student Rollno is required</p></label>
            </div>
            </div>
            <div class="form-group row">
                <div class="col-md-5">
                    <label for="">Student Name</label>
                    </div>
                    <div class="col-md-4">
                    <input type="text" #ref2="ngModel" required name="name" id="" class="form-control" ngModel required>
                   <label *ngIf="ref2.invalid &&(ref2.dirty||ref2.touched)" class="text-danger"><p>*Studentname is required</p></label>
                </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-5">
                        <label for="e"> Course</label>
                        </div>
                        <div class="col-md-4">
                        <select name="course" id="e" ngModel>
                            <option [value]=course *ngFor="let course of courses">{{course}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                        <div class="col-md-5">
                            <label for=""> Branch</label>
                            </div>
                            <div class="col-md-4">
                            <select name="branch" id="" ngModel>
                                <option [value]=branch *ngFor="let branch of branches">{{branch}}</option>
                            </select>
                        </div>
                    </div>
                        <div class="form-group row">
                            <div class="col-md-5">
                                <label for="">Total Fee</label>
                                </div>
                                <div class="col-md-4">
                                <input type="number" name="total" id="" class="form-control" ngModel>
                            </div>
                        </div>
                        <div class="form-group row">
                                <div class="col-md-5">
                                    <label for="">Paid Fee</label>
                                    </div>
                                    <div class="col-md-4">
                                    <input type="number" name="paid" id="" class="form-control" ngModel>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-5">
                                    <label for="">Pending Fee</label>
                                    </div>
                                    <div class="col-md-4">
                                    <input type="number" name="pending" id="" class="form-control" ngModel>
                                </div>
                            </div>
                            

                            
            <div class="text-center">
                <button class="btn btn-success">Post</button>
            </div>
        </form>
    </div>
    
    <div *ngIf="b">
        <form #ref="ngForm" (ngSubmit)="testing(ref.value)" class="bg-primary">
                <div class="form-group row">
                    <div class="col-md-5">
                    <label for="">Student RollNo</label>
                </div>
                <div class="col-md-4">
                    <input type="number" name="no" [value]=objectToModify.no class="form-control" [(ngModel)]=objectToModify.no>
                </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-5">
                        <label for="">Student Name</label>
                        </div>
                        <div class="col-md-4">
                        <input type="text" name="name" [value]=objectToModify.name class="form-control" [(ngModel)]=objectToModify.name>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <div class="col-md-5">
                            <label for=""> Course</label>
                            </div>
                            <div class="col-md-4">
                            <select name="course" id="" [(ngModel)]=objectToModify.course>
                                <option [value]="course" *ngFor="let course of courses">{{course}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                            <div class="col-md-5">
                                <label for=""> Branch</label>
                                </div>
                                <div class="col-md-4">
                                <select name="branch" id="" [(ngModel)]=objectToModify.branch>
                                    <option [value]="branch" *ngFor="let branch of branches">{{branch}}</option>
                                </select>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-5">
                                    <label for="">Total Fee</label>
                                    </div>
                                    <div class="col-md-4">
                                    <input type="number" name="total" [value]=objectToModify.total class="form-control" [(ngModel)]=objectToModify.total>
                                </div>
                            </div>
                            <div class="form-group row">
                                    <div class="col-md-5">
                                        <label for="">Paid Fee</label>
                                        </div>
                                        <div class="col-md-4">
                                        <input type="number" name="paid" [value]=objectToModify.paid class="form-control" [(ngModel)]=objectToModify.paid>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-5">
                                        <label for="">Pending Fee</label>
                                        </div>
                                        <div class="col-md-4">
                                        <input type="number" name="pending" [value]=objectToModify.pending class="form-control" [(ngModel)]=objectToModify.pending>
                                    </div>
                                </div>
                                
    
                            <button type="submit">Save</button>
                        </div>
          </form>
          </div>      
          <table class="table">
            <thead>
                <th>Student No</th>
                <th>Student Name</th>
                <th>Course</th>
                <th>Branch</th>
              <th>Total Fee</th>
              <th>Paid Fee</th>
              <th>Pending Fee</th>
            </thead>
            <tr *ngFor="let obj of data">
                <td>{{obj.no}}</td>
                <td>{{obj.name}}</td>
                <td>{{obj.course}}</td>
                <td>{{obj.branch}}</td>
                <td>{{obj.total}}</td>
                <td>{{obj.paid}}</td>
                <td>{{obj.pending}}</td>
                <td>
                    <button (click)="deleteRecord(obj.no)">Delete</button>
                    </td>
                    <td>
                        <button (click)="editingFeestatus(obj)">Edit</button>
                    </td>
            </tr>
        </table>