<table class="table">
    <thead>
        <th>Student No</th>
        <th>Student Name</th>
        <th>Course</th>
        <th>Branch</th>
      <th>Total Fee</th>
      <th>Paid Fee</th>
      <th>Pending Fee</th>
    </thead>
    <tr *ngFor="let obj of y">
        <td>{{obj.no}}</td>
        <td>{{obj.name}}</td>
        <td>{{obj.course}}</td>
        <td>{{obj.branch}}</td>
        <td>{{obj.total}}</td>
        <td>{{obj.paid}}</td>
        <td>{{obj.pending}}</td>
    </tr>
</table>

