<div class="container">
  <nav class="nav navbar-expand-sm bg-dark navbar-dark">
      <a href="" class="navbar-brand">
          <img src="assets/2.jpeg" width="50px">
  
      </a>
      <div class="spinner-grow text-primary"></div>
      <div class="spinner-grow text-danger"></div>
          <div class="spinner-grow text-warning"></div>
      
      <div id="n" class=" navbar-collapse">
          <ul class="navbar-nav ml-auto">
                  <div class="spinner-grow text-primary"></div>
              <li class="nav-item">
                  <a routerLink="profile" class="nav-link text-primary">Profile</a>
              </li>
              <li>
                  <a routerLink="marks" class="nav-link text-primary">Marks</a>
              </li>
              <li>
                  <a routerLink="fee" class="nav-link text-primary">Fee Status</a>
              </li>
              <li>
                <a routerLink="attendence" class="nav-link text-primary">Attendence</a>
            </li>
            <li>
              <a routerLink="notifications" class="nav-link text-primary">Notifications</a>
          </li>
          <li>
            <a routerLink="leave" class="nav-link text-primary">Leave</a>
        </li>
          <li>
            <a routerLink="logout" class="nav-link text-primary">Logout</a>
        </li>
        

          </ul>
      </div>
  </nav>
          </div>
          <router-outlet></router-outlet>  
  