<div class="container">
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4 ">
        <form #ref="ngForm" (ngSubmit)="submitData(ref.value)">
          <div class="row">
            <div class="col-sm-4 form-check">
              <label for="m" class="form-check-label">
                <input type="radio" name="user" value="admin" id="m" class="form-check-input" ngModel>
                  admin
              </label>
            </div>
            <div class="col-sm-4 form-check">
              <label for="n" class="form-check-label">
                <input type="radio" name="user" id="n" value="student" class="form-check-input" ngModel>
                student
              </label>
            </div>
          </div>
          
          
          <div class="form-group">


            <label for="">UserName</label>
            <input type="text" name="username"  class="form-control" ngModel>
  
          </div>
          <div class="form-group">
            <label for="">Password</label>
            <input type="password" name="password"  class="form-control" ngModel>
  
          </div>
          <div class="text-center">
            <button class="btn btn-success" type="submit">Submit</button>
          </div>
  
        </form>
      </div>
  
</div>
  </div>
