<div class="container">
   <h4 class="text-danger text-center">Notifications</h4>
   <form #ref="ngForm" (ngSubmit)="notifications(ref.value)">
       <div class="form-group">
           <input type="text" name="notifications" id="" placeholder="notifications" class="form-control" ngModel>
           <div class="text-center">
               <button class="btn btn-success mt-3">Post</button>
           </div>
       </div>
   </form>
</div>
   