<table class="table">
    <thead>
        <th>Student No</th>
        <th>Student Name</th>
        <th>Total Marks</th>
        <th>Marks Gained</th>
        <th>Course</th>
        <th>Branch</th>
    </thead>
    <tr *ngFor="let obj of y">
        <td>{{obj.no}}</td>
        <td>{{obj.name}}</td>
        <td>{{obj.total}}</td>
        <td>{{obj.Gained}}</td>
        <td>{{obj.course}}</td>
        <td>{{obj.branch}}</td>
    </tr>
</table>


