<div class="container">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a href="" class="navbar-brand">
            <img src="assets/26.jpeg" width="50px">
        </a>
        <div class="spinner-grow text-primary"></div>
        <div class="spinner-grow text-danger"></div>
            <div class="spinner-grow text-warning"></div>
        <ul class="navbar-nav ml-auto">
            <div class="spinner-grow text-primary"></div>
            <div class="spinner-grow text-danger"></div>
                <div class="spinner-grow text-warning"></div>
                <li class="nav-item" >
                    <a routerLink="postmarks" class="nav-link text-primary">Post Marks</a>
                </li>
                <li>
                    <a routerLink="feestatus" class="nav-link text-primary">Fee Status</a>
                </li>
                <li>
                    <a routerLink="attendence" class="nav-link text-primary">Attendence Status</a>
                </li>
                
                <li>
                    <a routerLink="notifications" class="nav-link text-primary">Notifications</a>
                </li>
                <li>
                    <a routerLink="profile" class="nav-link text-primary">Students Profile</a>
                </li>
                <li>
                    <a routerLink="addstudent" class="nav-link text-primary">Add Student</a>
                </li>
                <li>
                    <a routerLink="leave" class="nav-link text-primary">Leave</a>
                </li>
       
                <li>
                    <a routerLink="logout" class="nav-link text-primary">Logout</a>
                </li>
            </ul> 
    </nav>
</div>
            <router-outlet></router-outlet>
        
        
    






