<div class="container-fluid">
    <nav class="nav navbar-expand-sm bg-dark navbar-dark">
        <a href="" class="navbar-brand">
            <img [src]="corousel" width="50px">
    
        </a>
        <div class="spinner-grow text-primary"></div>
        <div class="spinner-grow text-danger"></div>
        <a ref="#" class="pl-3">student management system</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#x">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div id="n" class=" navbar-collapse">
            <ul class="navbar-nav ml-auto">
                    
                <li class="nav-item">
                    <a routerLink="home" class="nav-link text-primary">HOME</a>
                </li>
                <li>
                    <a routerLink="aboutus" class="nav-link text-primary">About Us</a>
                </li>
                <li>
                    <a routerLink="login" class="nav-link text-primary">Login</a>
                </li>
                

            </ul>
        </div>
    </nav>
            </div>
            <router-outlet></router-outlet>  
    