<!--
<div class="container notti">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="form-group">
                <input type="text" #ref class="form-control round3" id="request" placeholder="WRITE YOUR REQUEST" name="requesr" ngModel>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary mb-3" (click)="request(ref.value)">{{b?"send request":"request pending"}}</button>
            </div>
            <div class="text-center">
                {{c}}
            </div>
            <div class="text-center">
                {{d}}
            </div>
        </div>
        <div col-md-3></div>
    </div>
</div>
-->
<!--
<div class="container mt-5">
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form #ref="ngForm" (ngSubmit)="changeStatus(ref.value)">
            <div class="form-group">
                <label>Student RollNo</label>
                <input type="text" class="form-control" name="rollno" ngModel>

            </div>
            <div class="form-group">
                <label>User Name</label>
                <input type="text" class="form-control" name="username" ngModel>

            </div>
            <div class="form-group">
                <label>Reason for leave</label>
                <input type="text" class="form-control mb-4" name="leave" ngModel>

            </div>
            <div class="row form-group">
                <div class="col-md-4">
                    <label>From</label>
                    <select name="from" id="" ngModel class="form-control">
                        <option [value]="date" *ngFor="let date of dates">{{date}}</option>
                    </select>
                </div>
                <div class="col-md-4">
                        <label>To</label>
                        <select name="to" id="" ngModel class="form-control">
                            <option [value]="date" *ngFor="let date of dates">{{date}}</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                            <label>No of days</label>
                            <input type="text" class="form-control" name="days" ngModel>
            </div>
        </div>
        <div class="text-center mt-5">
            <button class="btn btn-info" type="submit">{{b?"Apply for leave":"request pending"}}</button>
        </div>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>
</div>
<div class="text-center">
    {{g}}
</div>
<div class="text-center">
    {{j}}
</div>
-->
<!--
<h1 class="text-center" mt-2>Request to admin</h1>
<form #ref="ngForm" (ngSubmit)="request(ref.value)">
    <div class="form-group">
        <label for=""><h5>Request for leave</h5></label>
        <textarea name="letter" id="" cols="30" rows="15" class="form-control" ngModel></textarea>
        <div class="row">
            <div class="col-sm-4">
                <label for="" class="mt-2"><h6>From</h6></label>
                <input type="date" name="from" class="form-control" ngModel>
            </div>
            <div class="col-sm-4">
                <label for="" class="mt-2"><h6>To</h6></label>
                <input type="date" name="to" class="form-control" ngModel>
            </div>
            <div class="col-sm-4">
                <label for="" class="mt-2"><h6>No of days</h6></label>
                <input type="date" name="totaldays" class="form-control" ngModel>
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-success mt-3" type="submit">{{b?"sendrequest":"request loading}}</button>
        </div>
    </div>
</form>
<div>
    <ul *ngFor="let value of accept">
        <li>{{value.message}}</li>
    </ul>
</div>
-->
<h1 class="text-center" mt-2>Request to admin</h1>
<form #ref="ngForm" (ngSubmit)="requestof(ref.value)">
    <div class="form-group">
        <label for=""><h5>Request for leave</h5></label>
        <textarea name="letter" id="" cols="30" rows="15" class="form-control" ngModel></textarea>
        <div class="row">
            <div class="col-sm-4">
                <label for="" class="mt-2"><h6>From</h6></label>
                <input type="date" name="from" class="form-control" ngModel>

            </div>
            <div class="col-sm-4">
                <label for="" class="mt-2"><h6>To</h6></label>
                <input type="date" name="to" class="form-control" ngModel>

            </div>
            <div class="col-sm-4">
                <label for="" class="mt-2"><h6>NO of days</h6></label>
                <input type="date" name="totaldays" class="form-control" ngModel>

            </div>
            
        </div>
        <div class="text-center">
            <button class="btn btn-success mt-3" type="submit">{{b?"sendrequest":"request loading"}}</button>
        </div>
    </div>
</form>
<div>
    <ul *ngFor="let value of accept">
        <li>{{value.message}}</li>
    </ul>
</div>