<!--
<div>
    <table class="table table-stripped">
        <tr>
            <td>
                <h1 class="text-center text-danger">{{request}}</h1>
            </td>
            <td>
                <button type="button" class="btn btn-success mr-3" (click)="accept()">accept</button>
                <button type="button" class="btn btn-danger" (click)="reject()">reject</button>
            </td>
        </tr>
    </table>
</div>
-->
<!--
<div class="container">
    <div class="row mt-5 form-group">
        <div class="col-md-3"></div>
        <div class="col-md-6 text-center">
            <div class="mr-3 row">
                <div class="col-md-6">
                    <button class="btn btn-info" type="submit" (click)="acceptRequest()">Accept </button>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-info" type="submit" (click)="rejectRequest()">Reject</button>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
<div class="row mt-5">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <table class="table" *ngFor="let obj of d">
            <tr class="form-group">
                <td>Reason for leave</td>
                <td>{{obj.leave}}</td>
            </tr>
            <tr class="form-group">
                    <td>Student RollNo</td>
                    <td>{{obj.rollno}}</td>
                </tr>
                <tr class="form-group">
                        <td>User Name</td>
                        <td>{{obj.username}}</td>
                    </tr>
                    <tr class="form-group">
                            <td>From</td>
                            <td>{{obj.from}}</td>
                        </tr>
                        <tr class="form-group">
                                <td>To</td>
                                <td>{{obj.to}}</td>
                            </tr>
                            <tr class="form-group">
                                    <td>No of days</td>
                                    <td>{{obj.days}}</td>
                                </tr>
        </table>
    </div>
    <div class="col-md-3"></div>
</div>
-->
<div class="row">
    <div class="col-sm-12">
        <ul *ngFor="let value of data">
            <pre style="display:flex"><li class="nav-link">{{value.letter}}</li></pre>
            <div class="row">
                <div class="col-md-4"><li class="nav-link"><b>from</b>: {{value.from}}</li></div>
                <div class="col-md-4"><li class="nav-link"><b>to</b>: {{value.to}}</li></div>
                
                <div class="col-md-4"><li class="nav-link"><b>totaldays</b>: {{value.totaldays}}</li></div>
                
            </div>
            <div class="text-center"><button class="btn btn-primary mr-2" (click)="accept(value.rno)">accept</button>
            <button class="btn btn-danger mr-2" (click)="reject(value.rno)">reject</button>
            </div>
        </ul>
    </div>
</div>